<html>
<head>
  <link type="text/css" href="/css/bootstrap.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet"
    a.btn {
    display: block;
    padding: 10px;
    background-color: red;
    }>
  <script src="/js/bootstrap.js">
  _386 = { onePass: true, speedFactor: 1.25 };</script>
</head>

<body>
  <form method="post" action="/new">
    <input type="text" name ="title" style="margin: 100px 10px 10px 50px; text-align:left; width: 500; height: 30">
    <br />
    <textarea type="text" name="body" style="margin: 10px 0px 50px 50px; text-align:left; width: 500px; height: 400px"></textarea>
    <br />
    <input type="submit" style="margin: 0px 0px 50px 50px;" value="Create Post">
  </form>
</body>
</html>