<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" href="/css/bootstrap.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet"
    a.btn {
    display: block;
    padding: 10px;
    background-color: red;
    }>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.js">
  _386 = { onePass: true, speedFactor: 1.25 };</script>
</head>

<body>
  <div class="page-header" name ="title" style="margin: 20px 10px 10px 50px; text-align:left; width: 500px">
    <%= post.title %>
  </div>
  <br />
  <div class="lead" name="bodey" style="margin: 10px 10px 0px 50px; text-align:left">
    <%= post.body %>
  </div>
  <br />
  <form method="delete" action="/<%= id %>">
    <div style="margin: 0px; padding: 0px">
      <input name="_method" type="button" value="delete">
    </div>
  </form>
</body>
</html>