<h1>Listing all solutions</h1>

<table class="table">
  <thead>
    <th>Task number</th>
    <th>Solution</th>
  </thead>
  <tbody>
    <% @solutions.each do |solution| %>
      <td><%= solution.id %></td>
      <td><%= solution.text %></td>
    <% end %>
  </tbody>
</table>
